# python
__pycache__/
*.pyc
.DS_Store

# output training
checkpoint_model/
logs/
results/
validation_results/
test_results/
generated_image/

# dataset
datasets/
data_raw/

# immagini grandi
*.tif
*.tiff
